@import 'variables.scss';
@import 'Header/header.scss';
@import 'rental/rental-listing.scss';
@import 'rental/rental-detail.scss';
@import 'form/form.scss';
@import 'booking/booking.scss';
@import 'rental/rental-manage.scss';

.pageContainer{
  min-height: 100vh;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 2%;
  position: relative;
  width: 100%;
  z-index:1;
}

.viewport-block {
  position: relative;
  z-index: 13;
}

.theAni {
  z-index: 11;
}

.navBoxContainer {
  height: 120px;
}

.searchCard {
  position: absolute;
  top: 25vh;
  left: 20vh;
  font-family: Helvetica, sans-serif;
  padding: 30px;
}

.cardWide {
  width: 500px;
}

.btnWide {
  margin-left: 0px !important;
  width: 200px;
}

.searchButton {
  width: 145px;
  height: 50px;
  margin-left: 5px !important;
}
.searchTitle{
  font-size: 27px;
  font-weight: 600;
  padding-right: 85px;

}

.searchContainer{
  display: flex;
  justify-content: flex-start;
  margin-left: 3vw;
  margin-right: 3vw;

  .bwm-search {
    height: 50px;
    width: 52vw !important;
  }


  .btn-bwm-search {
    border-color: black !important;
    color: black !important;
    min-width: 30px !important;

    &:hover, &:focus, &:active {
      background-color: blue !important;
      border-color: black !important;
      color: black !important;
    }
  }


  }

.topSection {
  color: black;
  display: inline;
font-size: 15px;
  font-weight: 600;
  padding: 0 10% 0 10%;

}

.searchbody{
  padding: 38px;

}

.topHeader {
  height:100vh;
  min-height:100px;
  background-size:cover;
  position: relative;
}

.clickable {
  a:hover {
  cursor: pointer;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.topImage {
  width: 100%;
  height: 100vh;

}

.apartment {
  color: #a72da3;
}

.house {
  color: #bf1818;
}

.condo
{
  color: #d68000;

}

.theImageContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

}

.theImageContainer img {
  max-width:100%;
  max-height:100%;
}