#rentalDetails {

  .rentalImage {
    width: 50vw;
    height: 47vh;
    margin-bottom: 10px;
  }
  .upper-section {
    img {
      width: 100%;
    }

    margin-bottom: 30px;
  }

  .loginButton {

    text-decoration: none;
    background-color: #5cb85c;
    border-radius: 7px;
    padding: 12px;
    color: white;
    font-weight: bold;
  }

  .details-section {
    padding-left: 18vh;
    padding-right: 18vh;
    color: $main-text-gray-color;

    .rental {
      &-type {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
      }

      &-title {
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: 700;
      }

      &-city {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      &-room-info {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;

        span {
          margin-right: 10px;
        }

        i {
          margin-right: 2px;
        }
      }

      .rentalDetailCategory {
       margin-top: 3vh;
        font-weight: 500;
        margin-bottom: 1vh;

      }

      .rentalDetailCategoryInfo {
      }

      &-description {
        font-weight: 300;
        margin-bottom: 30px;
      }

      &-assets {
        .title {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 22px;
        }
        span {
          display: block;
          margin-bottom: 15px;
          font-weight: 300;
        }
      }
    }
  }
}
