.rentalListing {
  margin: 2%;
  position: relative;

  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .rentalContainer {
    margin-top: 40px;

  }

  /* SINGLE CARD STYLES*/
  .rental-detail-link{
   &:hover {
     text-decoration: none;
   }

  }

  .bwm-card {
    border: none;
    margin-bottom: 20px;
    background: black !important;

    .img-block {
      -webkit-transition: 0.45s;
      opacity: 1;
      .card-hover-text {
        position: absolute;
        color: white;
        opacity: 0;
        -webkit-transition: 0.45s;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -40%);
      }
      &:hover {
        -webkit-transition: 0.45s;
        opacity: .9;
        .card-hover-text {
          opacity: 1;
          -webkit-transition: 0.45s;
        }
      }
    }

    .card-block {
      padding: 8px;
      background: white;

      .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
      }

      .card-title {
        font-size: 19px;
        margin: 3px 0;
        color: $main-text-gray-color;
      }

      .card-text {
        font-size: 14px;
        font-weight: 300;
        color: #7e7e7e;
        margin-bottom: 0;
      }
    }
  }
}